.idea
.deps
aclocal.m4
autom4te.cache
autoscan.log
configure.scan
compile
install-sh
missing
depcomp
doc/mdate-sh
doc/texinfo.tex
Makefile.in
configure
config.status
config.h.in
config.h.in~
config.h
config.log
stamp-h1
Makefile
doc/stamp-vti
doc/version.texi
doc/vsntp.info
excludes
